[Unit]
Description=QRNG gRPC Service
After=network.target

[Service]
Type=simple
User=qbert
WorkingDirectory=/home/qbert/service/qrng-grpc
Environment="PATH=/home/qbert/service/.venv/bin:/usr/bin:/bin"
ExecStart=/home/qbert/service/.venv/bin/python3 /home/qbert/service/qrng-grpc/run.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
